.c2{
    background-color: black;
    color: aliceblue;
    text-align: center;
    text-decoration:wavy;
}
#i2{
    background-color: honeydew;
    color: black;
    text-align: center;
}
.c3{
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
}